/* Variables */
:root {
  --neutral-color-100: #f9f9f9;
  --neutral-color-700: #242424;
  --neutral-color-800: #212121;
  --neutral-color-900: #1d1d1d;
  --primary-color: #2e3c50;
  --primary-color-dark: #1e2835;
  --primary-color-light: #485d7c;
  --padding-page-desktop: 0 46px;
  --padding-page-tablet: 0 32px;
  --padding-page-mobile: 0 16px;
  /* font sizes */

  /* OLD */
  --aside-width: 440px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 100px;
  --color-dark: #000;
  --color-light: #fff;
}

/* Common */

body {
  /* font-family: 'Inter', sans-serif; */
  background-color: var(--neutral-color-900);
  color: var(--neutral-color-100);
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  /* font-weight: 500; */
  margin: 0px;
}

a {
  color: var(--neutral-color-100);
  cursor: pointer;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

a:hover {
  color: var(--primary-color-light);
  cursor: pointer;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--neutral-color-100);
  margin: 0px 0px 32px;
}

.divider-primary {
  border: none;
  height: 1px;
  background-color: var(--primary-color);
  margin: 8px 0px;
}

.primary-button {
  color: var(--neutral-color-100);
  display: inline-block;
  background-color: var(--primary-color);
  /* height: 48px; */
  line-height: 40px;
  text-align: center;
  padding: 6px 24px;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.secondary-button {
  /* color: var(--neutral-color-100); */
  background-color: #3d424b;
}

.primary-button:hover {
  background-color: var(--primary-color-light);
  color: var(--neutral-color-100);
}

.primary-button--disabled {
  color: var(--neutral-color-100);
  display: inline-block;
  background-color: var(--primary-color);
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 24px;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.breadcrumbs {
  margin-top: 132px;
  color: #8b8b8b;
  font-size: 16px;
}

.layout {
  margin-top: 132px;
}

/* 404 */

.error-page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.error-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}

.error-bg {
  position: absolute;
  inset: 0;
  background-image: url('../assets/logo-grey.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.02;
  z-index: 0;
}

/* HEADER  */

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  /* background-color: #21212130; */
  /* background-color: var(--neutral-color-800); */
  display: flex;
  align-items: center;
  padding: var(--padding-page-desktop);
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 100;
}

.logo-desktop {
  display: block;
}
.logo-mobile {
  display: none;
}

.header-home {
  background-color: #21212194;
}
.header-page {
  background-color: #212121;
}

.header-logo-text {
  position: 'absolute';
  left: '50%';
  transform: 'translateX(-50%)';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.badge {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  font-weight: 500;
  min-width: 20px;
  line-height: 1;
  height: 20px;
  z-index: 1;
  background-color: var(--primary-color-light);
  color: var(--neutral-color-100);
  top: 0;
  right: 0;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
  padding: 0 6px;
  border-radius: 10px;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--neutral-color-100);
  font-size: 24px;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 24px;
  margin-left: auto;
}

.header-ctas > * {
  min-width: fit-content;
}

/* Aside */

/* Simple Footer */

.footer-simple {
  box-sizing: border-box;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--padding-page-desktop);
  justify-content: space-between;
}

.footer-simple-social {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 24px;
  color: #f9f9f9;
}

.social-text {
  display: block;
}

.social-icons {
  display: none;
}
.social-icons img {
  width: 32px;
}

/* Home page */

.home-page {
  background-image: url('../assets/bg77.jpg');
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.home-page-layout {
  height: 100vh;
  display: flex;
  align-items: center;
}

.home-content-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 500px;
}

.home-links-container {
  display: flex;
  gap: 24px;
}

.hp-link {
  width: auto;
}

.vertical-links {
  left: 56px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: none;
  gap: 72px;
  /* z-index: 10; */
  width: 100%;
  justify-content: center;
}

.layout-padding {
  padding: 0 46px 46px;
}

.background-image {
  background-image: url('../assets/background2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  min-height: 100vh;
}

/* Catalog */
/* Detail */
/* Cart */

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* Home */

/* Footer */

/* Product List */
.product-list-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
/* ---------------------------------------------------------------------------------------------------------------- */

.product-item {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 24px 0px 77px;
  background: radial-gradient(
    circle at 30% 20%,
    /* posun stredu gradientu */ #858585 0%,
    #252525 55%,
    #1a1a1a 100%
  );
  background-size: 140% 140%; /* väčší než samotný box */
  background-repeat: no-repeat;
  box-sizing: border-box;
  transition:
    background-position 0.8s ease-in-out,
    background-size 0.8s ease-in-out;
}

.product-item-text {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  /* background-color: var(--primary-color); */
  background-color: #292929b0;
  /* background-color: var(--neutral-color-700); */
  padding: 8px 16px;
  color: inherit;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.product-item img {
  width: 100%;
  height: auto;
  /* padding: 32px 0px; */
}

.product-item:hover {
  background: radial-gradient(
    circle at 30% 20%,
    /* posun stredu gradientu */ #aaaaaa 0%,
    #252525 55%,
    #1a1a1a 100%
  );
  background-size: 150% 150%;
}

.product-item:hover .product-item-text,
.product-item-text:hover {
  background-color: var(--primary-color);
  color: var(--neutral-color-100);
}

.product-item img {
  height: auto;
  width: 100%;
}

.filter {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.filter-box {
  background-color: #212121;
  background-image: url('../assets/fish-filter.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 10 / 6;
  width: 25%;
  padding: 8px;
  text-align: center;
  font-size: 24px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}
.filter-box--active {
  background-color: var(--primary-color);
  background-image: url('../assets/fish-filter.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 10 / 6;
  width: 25%;
  padding: 8px;
  text-align: center;
  font-size: 24px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
  text-shadow: 0px 0px 20px #1d1d1d;
}

.filter-box:hover {
  color: var(--neutral-color-100);
}
.filter-box--active:hover {
  color: var(--neutral-color-100);
}

@media (max-width: 1200px) {
  .filter {
    flex-wrap: wrap;
  }
  .filter-box {
    width: calc(50% - 16px);
  }
  .filter-box--active {
    width: calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .filter {
    flex-direction: column;
    width: 100%;
  }
  .filter-box {
    width: 100%;
  }
  .filter-box--active {
    width: 100%;
  }
}

.filter-box h3 {
  font-size: 24px;
  font-weight: 500;
}
.filter-box--active h3 {
  font-size: 24px;
  font-weight: 500;
}
.filter-box:hover {
  background-color: var(--primary-color);
}
.filter-box:hover h3 {
  text-shadow: 0px 0px 20px #1d1d1d;
}

/*
* --------------------------------------------------
* OLD STYLES
* --------------------------------------------------
*/

/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.link:hover {
  /* text-decoration: underline; */
  color: #403831;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
@media (max-width: 45em) {
  html:has(.overlay.expanded) {
    overflow: hidden;
  }
}

aside {
  background: var(--neutral-color-800);
  height: 100vh;
  width: min(var(--aside-width), 100vw);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 24px;
  background-color: var(--neutral-color-700);
}

aside header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--neutral-color-100);
}

aside header .close {
  /* font-weight: bold; */
  /* opacity: 0.8; */
  text-decoration: none;
  transition: all 200ms;
  cursor: pointer;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 24px;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-page {
  min-height: calc(100vh - 100px);
  /* margin-top: 100px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.cart-details-page {
  display: flex;
  flex-direction: column;
}
.cart-details {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-details > div[aria-labelledby='cart-lines'] {
  flex: 1; /* vyplní dostupný priestor */
  overflow-y: auto; /* tu bude scroll */
  padding-right: 6px; /* nech scrollbar nelezie do textu */
}

.cart-summary-page-wraper {
  /* margin: 32px 0px; */
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 32px;
  padding: 48px;
  top: calc(50% + 50px);
  transform: translateY(-50%);
  width: 30%;
  box-sizing: border-box;
  /* align-self: flex-end; */
}

.cart-summary-page-wraper img {
  display: block;
}

.layout-cart-page {
  display: flex;
}
.layout-cart-page-left {
  min-height: 100vh;
  width: 70%;
}
.layout-cart-page-right {
  min-height: 100vh;
  display: flex;
  width: 30%;
  position: relative;
  box-sizing: border-box;
  background-color: var(--neutral-color-700);
}

.layout-cart-page-right > div {
  width: 100%;
}

.cart-lines-desktop {
  display: block;
}
.cart-lines-mobile {
  display: none;
}

/* -------------------------------------------------- */

.cart {
  min-height: calc(100vh - 100px);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-main {
  height: 100%;
  max-height: calc(100vh - 149px);
  /* overflow-y: auto; */
  width: auto;
}

.cart-lines {
  height: 50%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  /* width: auto; */
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  gap: 8px;
  padding: 0.75rem 0;
}

.cart-line:first-child {
  padding-top: 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: var(--neutral-color-800);
  bottom: 24px;
  padding-top: 0.75rem;
  width: 100%;
}

.cart-line-quantity {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid #303030;
  padding: 4px 8px;
  gap: 8px;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.empty-cart {
  /* background-color: green; */
}

.products-grid {
  display: grid;
  gap: 32px;
  margin-bottom: 2rem;
  grid-template-columns: 1fr; /* mobil default = 1 */
}

@media (min-width: 600px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 stĺpce */
  }
}

@media (min-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 stĺpce */
  }
}

@media (min-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 stĺpce */
  }
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  min-height: 100vh;
  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 4rem; */
  }
}

.product h1 {
  margin-top: 0;
}

.product-image {
  width: 60%;
  /* aspect-ratio: 1 / 1;  */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto 0;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-gallery {
  min-height: 100vh;
  background-color: var(--neutral-color-700);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-main {
  align-self: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 55%;
  /* width: 70%; */
  /* padding: 200px; */
  /* position: sticky; */
}

.product-price-product {
  font-size: 40px;
}
.product-price-cart {
  font-size: 16px;
}

@media (max-width: 900px) {
  .product-price-product {
    font-size: 32px;
  }
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item,
.product-options-item:disabled {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.product-option-label-swatch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0;
}

.product-option-label-swatch img {
  width: 100%;
}

/* Gallery */
.gallery {
  background-color: var(--neutral-color-700);
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 100px auto 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 55%;
  aspect-ratio: 4/5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.4rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  background: rgba(59, 59, 59, 0.3);
}

.arrow.arrow-left {
  left: -64px;
}

.arrow.arrow-right {
  right: -64px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  /* margin-top: 10px; */
}

.dot {
  width: 10px;
  height: 10px;
  background: #777;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background: #fff;
  transform: scale(1.2);
}

/* max min check and united */
/* PRODUCT MEDIA */

@media (max-width: 1540px) {
  .product-main {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .product-main {
    align-self: flex-start;
    margin-top: 132px;
    gap: 24px;
    width: 80%;
  }
  .main {
    position: relative;
    width: 67%;
    aspect-ratio: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }
  .gallery {
    justify-content: flex-start;
  }
}
@media (max-width: 900px) {
  .product-main {
    /* align-self: flex-start; */
    margin: 32px 24px;
    /* gap: 24px; */
    width: 100%;
  }
  .gallery {
    background-color: var(--neutral-color-900);
    min-height: auto;
  }
  .main {
    width: calc(100% - 48px);
    margin-top: 0px;
  }

  .arrow {
    background-color: #24242486;
    border: none;
    color: #fff;
  }
  .arrow.arrow-left {
    left: 8px;
  }

  .arrow.arrow-right {
    right: 8px;
  }

  .cart-summary-page-wraper {
    width: 100%;
    /* margin: 24px 0px; */
    /* align-self: flex-end; */
  }
  .cart-summary-page-wraper img {
    display: none;
  }
}

/* product-status animation */
.product-status {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 12px;
  font-size: 16px;
  /* font-weight: 500; */
  color: var(--neutral-color-100);
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #00c853; /* zelená */
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 200, 83, 0.4);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 200, 83, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 200, 83, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 200, 83, 0);
  }
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 10px; /* šírka scrollbar-u */
  height: 10px; /* pre horizontálny scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* pozadie */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555; /* farba posuvníka */
  border-radius: 10px; /* zaoblenie */
  border: 2px solid #1a1a1a; /* hrúbka okolo, aby bol "vyrezaný" */
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* farba pri hovere */
}

/* Firefox */
* {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #555 #1a1a1a; /* thumb | track */
}

/* SMALL DESKTOP */
@media (max-width: 1200px) {
  .layout-cart-page-left {
    width: 60%;
  }
  .layout-cart-page-right {
    width: 40%;
  }
  .cart-summary-page-wraper {
    width: 40%;
  }

  .header-home {
    background-color: #212121f1;
  }

  .home-page {
    background-image: url('../assets/bg-tablet2.jpg');
    background-position: center;
    width: 100%;
    min-height: 100vh;
  }
}

/* TABLET */
@media (max-width: 900px) {
  /* COMMON */

  h1 {
    font-size: 36px;
  }

  /* HEADER */

  .header {
    padding: var(--padding-page-tablet);
  }
  .header-home {
    background-color: #212121f1;
  }
  .header-logo-text {
    display: none;
  }

  /* HOME PAGE */

  .vertical-links {
    left: 42px;
    display: flex;
  }

  .home-content-box {
    display: none;
  }

  .home-page {
    background-image: url('../assets/bg-tablet2.jpg');
    background-position: center;
    width: 100%;
    min-height: 100vh;
  }

  /* FOOTER */

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-text {
    display: none;
  }
  .footer-simple {
    padding: var(--padding-page-tablet);
  }
  .layout-padding {
    padding: 0 32px;
  }
  .breadcrumbs {
    margin-top: 124px;
  }
  .layout {
    margin-top: 124px;
  }
  .product-list-header {
    gap: 24px;
  }

  /* CART */

  .layout-cart-page {
    display: flex;
    flex-direction: column;
  }
  .layout-cart-page-left {
    width: 100% !important;
    min-height: auto;
  }
  .layout-cart-page-right {
    width: 100% !important;
    min-height: auto;
  }
  .cart-summary-page-wraper {
    width: 100% !important;
    position: static;
    padding: 32px;
    transform: translateY(0%);
  }
}

/* MOBILE */
@media (max-width: 600px) {
  /* HEADER */

  .header {
    padding: var(--padding-page-mobile);
    height: 90px;
  }

  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
  /* 404 */
  .error-bg {
    background-repeat: repeat-y;
    background-position: top center;
  }

  /* HOME PAGE */

  .vertical-links {
    left: 28px;
    /* display: none; */
  }

  .hp-link {
    width: 100%;
  }

  /* FOOTER */

  .footer-simple {
    padding: var(--padding-page-mobile);
  }
  .layout-padding {
    padding: 0 16px;
  }
  /* CART */

  .cart-summary-page-wraper {
    padding: 24px;
  }

  .cart-lines-desktop {
    display: none;
  }
  .cart-lines-mobile {
    display: block;
  }

  /* DETAIL */

  .primary-button {
    width: 100%;
  }
}

/* ------------------------------- NOT USED FOR NOW -------------------------------*/

/* .bone-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12px; 
  overflow: hidden;
} */

/* Footer */

/* .footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
  min-width: fit-content;
} */
